{% extends 'base.html.twig' %}

{% block title %} My Blog {% endblock %}

{% block body %}
    <h1> Tous les articles : </h1>
    {% for article in articles  %}
        <div>
            <h2>{{ article.title }} - Destination : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

    <a href="{{ path('home') }}">
    Retour à l'accueil
    </a>

{% endblock %}
